<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="en" id="ng-app" ng-app="app">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../frameworks/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/css/app.min.css" rel="stylesheet">

</head>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../frameworks/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../frameworks/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../frameworks/angular/angular.js"></script>
<script src="../frameworks/angular/angular-route2.js"></script>
<script src="../app.js"></script>
<script src="../controllers/controllers.js"></script>


<body>
    <div ng-view></div>
</body>
</html>