/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 1, ../sass/_login.scss */
.login-error-form {
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  height: 165px;
  overflow-x: hidden;
  top: -170px;
  display: none;
}
/* line 14, ../sass/_login.scss */
.login-error-form > .login-error-form-ok-button {
  margin: 17px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 21, ../sass/_login.scss */
.login-error-form > .login-error-form-message-container {
  position: absolute;
  left: 43px;
  border-bottom: 1px solid #c0c0c0;
  height: 100px;
  width: 100%;
}
/* line 29, ../sass/_login.scss */
.login-error-form > .login-error-form-message-container > .login-error-form-message-container-error-text-container {
  line-height: 83px;
  margin-left: 54px;
  max-width: 200px;
  height: 88px;
  position: relative;
}
/* line 36, ../sass/_login.scss */
.login-error-form > .login-error-form-message-container > .login-error-form-message-container-error-text-container > .login-error-form-message-container-error-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  color: #444;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
}

/* line 50, ../sass/_login.scss */
.tablet .login-error-form {
  max-width: 506px;
  left: 50%;
  margin-left: -253px;
}

/* line 56, ../sass/_login.scss */
.tablet .login-error-form .login-error-form-message-container-error-text-container {
  max-width: 400px;
}
