<div class="navbar navbar-inverse navbar-static-top">

    <div class="container">


        <div class="navbar-brand">test</div>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class ="icon-bar"></span>
            <span class ="icon-bar"></span>
            <span class ="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">item1</a></li>
                <li><a href="#">item2</a></li>
                <li class="drop down">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">drop down<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">drop down #1</a></li>
                        <li><a href="#">drop down #2</a></li>
                        <li><a href="#">drop down #3</a></li>
                        <li><a href="#">drop down #4</a></li>
                    </ul>
                </li>
                <li><a href="#">item4</a></li>
            </ul>

        </div>

    </div>
</div>
<div class="container landing-page-text">
    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-4">
            <h4>first section:</h4>
            <div id="fb-root"></div>
            <!--<button type="button" class="btn btn-primary btn-lg ">Create Ad</button>-->
            <a href="/auth/facebook" class="btn btn-primary btn-lg ">Create Ad</a>
            <!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>-->

        </div>
        <div class="col-md-4">
            <a href="/auth/facebook"></a>
        </div>
        <div class="col-md-4">
            <h4>third section:</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>
