<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
        <div class="col-xs-6 col-md-4">
            </br>
            </br>
            </br>
            Welcome to Puta Madre application</br></br>
            Please select a vendor:
            </br>
            </br>
            <div class="social-wrap a">
                <button class="facebook-button" ng-click="loginToFacebook()" >Sign in with Facebook</button>
                <button class="twitter-button">Sign in with Twitter</button>
                <button class="googleplus-button">Sign in with Google</button>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
        </div>
    </div>
</div>