.gray-seperator {
  width: 100%;
  color: #DADADD;
  border: 4px solid;
}

.title{
  color: #ffffff !important;
}

.purple_color{
  background-color: #7e07a9;
}

.green_color{
  background-color: #8eeb00;
}

.yello_color{
  background-color: #ffda00;
}

.another_purple_color{
  background-color: #52026e;
}

